/* -- Colors -- */
/*light-gray: #c9cdd9; 201, 205, 217*/
/*dark-gray: #6a6c74; 106, 108, 116*/
/*indigo: #4800ff; 72, 0, 255*/
/*dark-blue: #040153; 4, 1, 83*/

/* -- Global -- */
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

a, a:hover {
  text-decoration: none;
}

/* -- Main -- */

.section {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  text-align: center;
}

.cell {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

@media screen and (min-width: 768px) {
  .section {
    flex-direction: row;
  }
}

.script {
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
}

.titlecase {
  font-family: 'Vast Shadow', cursive;
  font-size: 3em;
  color: #040153;
}

.blockletter {
  font-family: 'Bungee Shade', cursive;
  font-size: 1.7em;
}

.economica {
  font-family: 'Economica', sans-serif;
  font-size: 1.4em;
}

/* -- Carousel -- */

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:hidden
}

.header {
	text-align:center;
	background-size: cover;
	background-repeat: no-repeat;
  background-position: center;
	padding: 280px 0;
}

.title-formatting {
	text-align: center;
	padding: 150px 0;
	color: white;
}

h1 {
  font-family: 'Bungee Shade', cursive;
	font-size: 70px;
	margin: 0 0 10px 0 ;
	color: #fff;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

.iam {
	padding: 0;
	margin-top: 5px;
  text-align: center;
}

.iam li {
	display: inline-block;
  font-family: 'Economica', sans-serif;
  font-size: 2.5em;
	color: white;
	text-transform: lowercase;
	font-weight: 400;
	margin-right: 5px;
	padding-left: 15px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}

.iam li:first-child {
	background: none;
}

.btn-light {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
  margin-bottom: 100px;
}

/*-- NavBar --*/

.darkBack {
  background-color: rgba(4, 1, 83, .9);
}

/*-- Featured --*/

.featured li {
  display: inline-block;
}

.featured .skill-icon {
  font-size: 2.5em;
  text-shadow: none;
  font-style: normal;
  padding: 5px;
}

.featured a, #contact a {
  text-decoration: none;
  color: inherit;
}

.featured-img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

.featured {
  height: 490px;
  background-color: #c9cdd9;
  padding: 50px 0;
}

.featured ul {
  padding-left: 0;
}

.featured a:hover {
  color: #4800ff;
}


/*-- Portfolio --*/
.portfolio {
  height: 400px;
  background-color: #dcdee5;
  padding: 50px 0;
}

#portfolio .featured-img {
  background-color: white;
  max-width: 300px;
}

#almobile, #austin {
  background-color: #c9cdd9;
}

#tbbi .featured-img, #austin .featured-img, #almobile .featured-img {
  width: 60%;
}

#almobile, #tbbi, #austin {
  height: 450px;
}


/*-- GitHub --*/
#github {
  height: 275px;
}

#github a {
  margin: 10px auto;
}

#github a img {
  height: 125px;
}

#github h2 {
  margin: 20px auto;
  height: 50px;
}


/* -- Technology -- */

.skills, footer {
  color: white;
  background-image: url('../images/galaxy1-2000.jpg');
  background-position: center;
  background-size: cover;
}

.skills {
  height: 500px;
}

.have, .want {
  height: 500px;
  z-index: 1;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.skill-title {
  /* height: 20%; */
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  color: white;
  font-size: 2.5em;
  padding-top: 50px;
  padding-bottom: 20px;
}

.skill-grid {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: center;
  -webkit-justify-content: center;
  flex-wrap: wrap;
  height: 80%;
  width: 80%;
  color: white;
  padding: 0 20px 50px 20px;
}

.icon-grid {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  margin: 0 10px;
}

.label {
  font-size: .8em;
  margin-bottom: 5px;
  text-shadow: 2px 2px 8px black;
}

.skill-icon {
  font-size: 3.5em;
  text-shadow: 2px 2px 8px black;
}


 /*-- About -- */

 .about {
   background-color: #c9cdd9;
 }

.bio {
  padding: 40px 50px 40px 100px;
}

.bio-img {
  display: block;
  border-radius: 50%;
  width: 350px;
  margin: 40px auto;
}

.about ul {
  padding-top: 0;
  padding-left: 50px;
}

.about .script {
  margin-bottom: 0;
}


/*-- Contact --*/

#contact {
  height: 500px;
  margin: 0 auto;
  padding: 50px;
}

.contact-icon {
  color: #4800ff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
  margin: 0 10px;
}

#contact ul {
  margin: 0 auto;
  padding: 0;
}

#contact li {
  display: block;
  padding: 5px 0;
  font-size: 1.5em;
  text-align: center;
}

#contact h2 {
  height: 15%;
  color: #040153;
  text-align: center;
  margin: 0 auto;
}

.form-row {
  padding: 5px 0;
}


/*-- Footer -- */
footer {
  height: 100px;
  margin: 0;
  padding: 35px;
 }

footer li {
  display: inline-block;
  padding: 0 10px;
}


/*-- Mobile --*/

/* Smartphones */
@media screen and (max-width: 736px) {
  .skill-icon {
    font-size: 2em;
    padding-bottom: 20px;
  }
  .skills {
    height: 1200px;
  }
  .want, .have {
    height: 600px;
  }
  #featured {
    height: 860px;
  }
  #portfolio, #austin {
    height: 730px;
  }
  #almobile {
    height: 785px;
  }
  #tbbi {
    height: 685px;
  }
  #github {
    display: none;
  }
  #about {
    height: 1200px;
  }
  .bio-img {
    width: 260px;
    margin: 0px auto;
  }
  .bio {
    padding: 40px;
    padding-bottom: 0px;
  }
  #contact {
    height: 450px;
  }
  .featured .titlecase {
    font-size: 1.5em;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  .titlecase {
    font-size: 2rem;
  }
  #tbbi .featured-img, #austin .featured-img, #almobile .featured-img {
    width: 80%;
  }

}

/* iPads/Tablets */
@media screen and (min-width: 736px) and (max-width: 768px) {
  .featured {
    height: 560px;
  }

  #portfolio {
    height: 410px;
  }

  #almobile {
    height: 450px;
  }

  #tbbi, #austin {
    height: 485px;
  }

  .skills {
    height: 700px;
  }
  .titlecase {
    font-size: 2em;
    padding-bottom: 20px;
    padding-top: 0px;
  }
  .want, .have {
    height: 700px;
  }
  .skill-icon {
    font-size: 3em;
    padding-bottom: 20px;
  }

  .about {
    height: 720px;
  }
  .bio-img {
    width: 275px;
    margin: 50px auto;
  }
  .bio {
    padding: 25px;
    padding-bottom: 0;
  }

  #github a img {
    height: 100px;
  }

  #contact {
    height: 450px;
  }
}
